.not-found{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not-found img{
    width: 65%;
}

.not-found p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}